<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Vote for Your Candidate</h1>
        <form action="{{ url_for('vote') }}" method="post">
            <ul>
                {% for key, value in candidates.items() %}
                <li>
                    <label>
                        <input type="radio" name="candidate" value="{{ key }}"> {{ value }}
                    </label>
                </li>
                {% endfor %}
            </ul>
            <button type="submit">Vote</button>
        </form>
    </div>
</body>
</html>
